@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

//VARIABLES
:root {
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

$font-family--heading: "Fraunces", "Times New Roman", sans-serif;
$font-family--paragraph: "Montserrat", "Arial", sans-serif;

$font-weight--medium: 500;
$font-weight--bold: 700;

$font-size--medium: 1rem;
$font-size--large: 2rem;

$color-background--body: hsl(30, 38%, 92%);
$color-font--paragraph: hsl(228, 12%, 48%);

$color--white: hsl(0, 0%, 100%);
$color--accent: hsl(158, 36%, 37%);
$color--accent-hover: hsl(158, 63%, 15%);

@mixin img-background($url, $min-height) {
  min-height: $min-height;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

//BASE
body {
  background-color: $color-background--body;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

h1,
h2 {
  font-family: $font-family--heading;
  font-size: $font-size--large;
}

p {
  font-family: $font-family--paragraph;
  color: $color-font--paragraph;
  line-height: 1.5rem;
}

//MOBILE

.wrapper {
  padding: 1.5rem;
  align-items: start;
  gap: 1rem;
}

.card {
  background-color: #ffffff;
  width: clamp(20rem, 90%, 40rem);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 1s;
}

.illustration {
  @include img-background("./images/image-product-mobile.jpg", 250px);
}

.card_index {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.card_price {
  gap: 1rem;
}

.card_price h2 {
  color: $color--accent;
}

.card_price p {
  text-decoration: line-through;
}

.card_button {
  font-family: $font-family--paragraph;
  font-weight: $font-weight--bold;
  text-align: center;
  width: 100%;
  color: $color--white;
  background-color: $color--accent;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.card_button:hover {
  background-color: $color--accent-hover;
}

@media (min-width: 480px) {
  .card {
    width: 80%;
  }
}

// DESKTOP
@media (min-width: 550px) {
  .card {
    width: clamp(20rem, 90%, 40rem);
    display: flex;
    flex-direction: row;
  }

  .illustration {
    @include img-background("./images/image-product-desktop.jpg", 250px);
    min-width: 50%;
  }
}
